/*banner*/
.fifa-banner{
  height:347px;
  background-image:url("../images/banner.jpg");margin-top: 50px;
  position: relative;
}
.fifa-banner ul{
  width: 127px;
  height: 160px;
  overflow: hidden;
  position: absolute;
  left: 785px;
  top: 100px;
}
.fifa-banner li{
  height: 16px;
  overflow: hidden;
}
.fifa-banner span{
  width: 40px;
  text-align: left;
  display: inline-block;
}


/*邀请注册*/
.football{
  height: 26px;
  background:url("../images/football.jpg") no-repeat 0px 0px;
  width: 605px;
  padding-top: 116px;
  padding-left: 24px;
  margin: 0px auto;
}
.football ul{
  margin-right: -90px;
}
.football li{
  float: left;
  font-size: 18px;
  width: 120px;
  margin-right: 110px;
  font-weight: bold;
  text-align: left;
}


/*投票*/
.scoretb{
  background-color:#babbbf;
  height: 43px;
  width: 822px;
  /*padding-left: 72px;*/
  margin: 20px auto 30px auto;
}
.scoretb ul{
  margin-left: 45px;
}
.scoretb li{
  float: left;
  line-height: 43px;
  margin-right: 100px;
}
.scoretb span{
  color: #fff;
}
.scoretb select{
  display: inline-block;
  width: 118px; 
  height: 30px;
  float: right;
  margin-right: 60px;
  margin-top: 7px;
  border: none;
  padding-left: 13px;
  background: url('../images/but1.jpg') no-repeat 0px 0px;
}

/*比分*/
.bifen{
  display: block;
  text-align: center;
  font-size: 16px;
  padding-left: 30px;
}
.bifen div{
  width: 174px;
  height: 107px;
  background-color: #efedea;
  display: inline-block;
  margin-right: 30px;
}
.bifen p{
  height: 32px;
  line-height: 32px;
}
.bifen span{
  width: 83px;
  display: inline-block;
  cursor: pointer;
}
.bifen p.normal{
  background-color: #94cb88;
}
.bifen p.end{
  background-color: #e8d33a;
}
.bifen p.middle{
  height: 44px;
  line-height: 44px;
}
.bifen p.middle span{
  background-color: #fff;
  margin: 0px 1px;
}
/*vs*/
.vs{
  background: url('../images/vs.png') no-repeat 0px 0px;
  height: 271px;
  margin: 48px 0px 0px 9px;
  position: relative;
}
.people, .flag{
  position: absolute;
}
.people{
  top: 4px;
 
}
.people img{
   width: 137px;
  height: 192px;
}
.flag{
  top: 11px;
  width: 114px;
  height: 185px;
  text-align: center;
 
}
.flag img{
  width: 86px;
  height: 142px;
}
.people.home{
  left: 100px;
}
.people.away{
  right: 100px;
}
.flag.home{
  left: 315px;
}
.flag.away{
  right: 289px;
}

/* 活动奖品 */
.jiang,.rule{
  display: block;
  margin: 0 auto;
}
.jiang{
  margin-top: 15px;
}


/*系列活动*/
.event{
  display: block;
  padding-top: 75px;
  text-align: center;
  background: url('../images/xile.jpg') no-repeat center top;
}
.event li{
  display: inline-block;
  margin-right: 40px;
}
.event img{
  width: 230px;
  height: 223px;
  border: 1px solid #cdcbc8;
}

.event1-widget a{display:block;width:113px;padding:6px 0;font-size:14px;}

.event1-widget{
	background:url("../images/sbar.png") no-repeat top center;
	position:fixed;
	left:50%;
	top:35%;
	margin-left:510px;
	width:220px;
	padding:310px 0 0 0;
	text-align: center;
	background-size: 210px 475px;
}
